* {
  font-family: dm-sans, sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 1280px;
  margin: 0 auto;
  background-color: #1d4ed8;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus::placeholder {
  color: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
